#example {
    padding-top: 5vh;
    min-height: 90vh;
    color: white;
    
}

button#summonFireworks, button#destroyFireworks {
    cursor: pointer;
    color: grey;
}

body {
    background-color: #000;
}

